<center><h1>WELCOME TO THE PAGE "TETE"</h1></center>

<p>Hello Pretty :)</p>
<p>bueno esto era una version de prubea o una idea que tenia en mente para llevarla acabo en un furturo pero desafortunadamente quedara aqui como un proyecto FAIL</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laudantium unde odio, quaerat, rem voluptatum, dolorum laborum nobis assumenda iste ullam commodi quas voluptas dignissimos voluptate nisi iure blanditiis distinctio.</p>
