<center><h1>WELCOME DENYS DENYLSON DOHC</h1></center>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laudantium unde odio, quaerat, rem voluptatum, dolorum laborum nobis assumenda iste ullam commodi quas voluptas dignissimos voluptate nisi iure blanditiis distinctio.</p>
